.keyfigures {
  padding:60px 0;
  .sub-content{
    color: $white;
    position: relative;
    .supertitle{
      font-size: 32px;
      text-transform: uppercase;
      line-height: 25px;
      margin-bottom: 29px;
    }
    .keys{
      margin:0 -9px 30px -9px;
      @include display-flex();
      li{
        display: inline-block;
        margin:0 9px;
        width: calc(50% - 18px);
        background: $white;
        text-align: center;
        color: $navy-blue;
        font-size: 18px;
        .key{
          font-size: 65px;
          font-family: $font-bold;
          position: relative;
          margin-top: 10px;
          margin-bottom: 5px;
          &:before{
            content:"";
            width: 29px;
            height:1px;
            background: $red;
            position: absolute;
            left:0;
            right:0;
            margin:0 auto;
            bottom:9px;
          }
          &-legend{
            margin-bottom: 10px;
            .sublegend{
              font-size: 15px;
              color:$textcolor;
            }
          }
        }
        .legend{
          font-family: $font-medium;
        }
        .read{
          margin-bottom: 0;
          padding:5px 0 5px 25px;
          background: $color-readmore;
        }
        .read__more{
          display: block;
          background: none;
          .title{
            font-family: $font-medium;
            font-size: 18px;
            margin:0;
            color: $white;
          }
          &:before{
            border-left-color: $white;
          }
          &:after{
            background: $white;
          }
        }
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
    .button_read__more{
      bottom: -90px;
    }
  }
}