// couleurs
$navy-blue : #051039;
$red : #ff0000;
$azure : #52b4e7;
$light-azure : #98e1f1;
$light-blue : #dff2fd;
$grey-bg : #eeeeee;
$light-grey : #f8f9f9;
$padding:0 80px;
$twitter-blue : #37abde;
$red2: #f91629;
$white2: #fff;
$grayishblue: #e3f3fd;