.main-image {
	height:350px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	@include breakpoint(medium up) {
		margin-top: -30px;
	}
}
.editorial-body {
	background-color:$light-grey;
}
.mosaic-content {
	background-color:$light-grey;
	padding-top: 35px;
	.line {
		.content {
			display:flex;
			flex-direction: row;
			.item {
				min-width: 50%; /*trying to fix ie*/
				flex-basis: 50%;

				h2 {
					margin: 0 0 20px ;
				}
				p {
					line-height: 24px;
					font-size: 15px;
				}
				ul.images {
					margin: 0;
					font-size: 0;
					li {
						width: 50%;
						display: inline-block;
						vertical-align: top;
					}
				}
				&.img {
					img {
						width:100%;
					}
				}
				&.text {
					.text-container {
						position:relative;
						height: 100%;
						width:100%;
						overflow:hidden;
						.text-content {
						}
					}
				}
			}
		}
		&.first-line {
			.text {
				padding-right:16px;
			}
		}
		&.second-line {
			.text {
				padding:35px;
				background-color:white;
			}
		}
	}
}
.paragraph-content {
	background-color:$light-grey;
	.content {
		padding:40px 0;
	}
}
.large-img-content {
	background-color:$light-grey;
	.content {
		padding:40px 0;
	}
}
.key-content {
	background-color:white;
	.keys {
		text-align: center;
		padding: 60px 0;
		list-style:none;
		margin: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		// font-size:0;
	}
	.item {
		// display: inline-block;
		// width: 33.33%;
		text-align: center;
		flex-basis: 33.33%;
		width: 33.33%;
		position: relative;
		&:after {
			content:'';
			width: 1px;
			right: 0;
			background-color:#cccccc;
			top:-30px;
			bottom: -30px;
			position:absolute;
		}
		&:last-child {
			&:after {
				width: 0;
			}
		}
	}
	.key {
		display: block;
		font-size: 44px;
		font-family: $bold;
		
		position:relative;
		
	}
	.legend, .key + .sublegend {
		display: block;
		line-height: 18px;
		//margin-top: 15px;
	}
	.legend {
		font-size: 15px;
		position:relative;
		padding-top:15px;
		&:before {
			content:'';
			position:absolute;
			height: 1px;
			background-color:$red;
			width: 30px;
			top:0;
			left:50%;
			transform: translateX(-50%);
		}
	}
	.sublegend {
		font-size: 12px;
	}
}

.wrap.with-background {
	// padding:40px 0 40px 65px;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}

.portraits {
	.portraits-content {
		.sidebar {
			.group-names {
				a {
					display: block;
				}
			}
		}
		.portraits-list {
		}
	}
}

//bloc awards
.awards-modal {

	.awards-wrapper {

		.award-posts {

		}
		.award-body {
			.print {
				display: none;
			}
			.award-name {
				margin-left: 0;
			}
		}
		.award-year-list {
			@include grid-column(10);
			@include grid-column-offset(1);
			@include grid-column-end;
			margin-top: 10px;
			ul {
				@include grid-row(10);
				padding-right:0;
				padding-left:0;
				border-top:1px solid #e6e7eb;
				margin: 0;
				list-style: none;
				font-size: 0;
				padding-top: 25px;
				li {
					@include grid-column(3);
					@include grid-column-end;
					font-size: 12px;
					line-height: 17px;
					position:relative;
					padding-left:20px !important;
					&:before {
						font-family: 'icomoon';
						content: '\e809';
						position:absolute;
						left:0;
						top:0;
						font-size:10px;
						margin-right: 10px;
					}
				}
			}
		}

	}
}

.awards {
	.awards-content {
		.sidebar {
			.group-names {
			}
		}
		.awards-list {
			.grid-3 {

			}
		}
	}
}

.alliances-modal {
	.alliances-wrapper {
		padding:40px 80px;
		.item {
			background: white;
			font-size: 15px;
		}
	}

}

.keysnumbers {
	.keysnumbers-content {
		.keysnumbers-list {
			.keysnumbers-item {
				.keys-name {
					color:white;
					text-align: center;
					padding-right: 11.1111%;
					font-size: 32px;
					font-family: $regular;
				}
			}
		}
	}
}

.light-gray-bck {
	background-color:#f7f7f7;
}

div.contextual-links-wrapper {
  z-index: 790;
}